
body{
    font-family: Arial;
    background-color: rgb(239, 239, 239);
    margin: 0px;

}
p{

 
    margin-top: 0px;
    margin-bottom: 0px;
}


a {
    color:black;
    text-decoration:none;
}